
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Open Sans';
}
.container {
    max-width: 1200px;
    width: 100%;


    margin: 0px auto;
    padding: 0 50px;
}

section {
    min-height: 100vh;
    /* background-color: var(--background-content-color); */
}

a {
    text-decoration: none;
}

.spacer {
    display: inline-block;
    width: 10%;
}

